/*ANİMATİONS*/
@keyframes fix-header{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes mobile-link{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(3px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes scroll-button{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes content-text-top{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes content-text-bottom{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes gallery-image{
    100%{
        transform: scale(1);
        opacity: 1;
    }
}